.post p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.65;
}

.post blockquote {
  border-left: 4px solid #094cdc;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.65;
 }

 .post a {
  color: #094cdc;
  text-decoration: underline #094cdc;
 }