.post p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.65;
}

.post blockquote {
  font-style: italic;
  border-left: 4px solid #094cdc;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.65;
 }

 .post a {
  color: #094cdc;
  text-decoration: underline #094cdc;
 }

.post-date-1 + .post-date-1 .post-label,
.post-date-2 + .post-date-2 .post-label,
.post-date-3 + .post-date-3 .post-label,
.post-date-4 + .post-date-4 .post-label,
.post-date-5 + .post-date-5 .post-label,
.post-date-6 + .post-date-6 .post-label,
.post-date-7 + .post-date-7 .post-label,
.post-date-8 + .post-date-8 .post-label,
.post-date-9 + .post-date-9 .post-label,
.post-date-10 + .post-date-10 .post-label,
.post-date-11 + .post-date-11 .post-label,
.post-date-12 + .post-date-12 .post-label {
  display: none;
}